<div class="flex flex-row justify-between px-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:flex xl:flex-wrap gap-4 w-full">
        <!--<form>   
            <label for="search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">
                <button type="submit" class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </button>
                <input type="search" id="search" class="block w-full py-2 px-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-3xl bg-gray-50 focus:ring-blue-500 focus:border-blue-500 focus:outline-0 " placeholder="Search" required />
            </div>
        </form>-->

        @for (filter of filtersOptions; track $index) {
            @if(filter.type == "date"){
                <mat-form-field>
                    <mat-label>Rango de días a filtrar</mat-label>
                    <mat-date-range-input [required]="false"  [rangePicker]="picker" >
                      <input matStartDate [(ngModel)]="filter.value.start" placeholder="Día inicial" >
                      <input matEndDate [(ngModel)]="filter.value.end" (dateChange)="change()" placeholder="Día final" >
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
                    <mat-date-range-picker #picker ></mat-date-range-picker>
                </mat-form-field>
            }
            @if(filter.type == "select"){
                <mat-form-field  >
                    <mat-label  >{{filter.name}}</mat-label>
                    <mat-select [(ngModel)]="filter.value" multiple>
                        <mat-select-trigger >
                        @if(filter.value?.length > 0){
                            {{filter.value?.[0].name || ''}}
                        }
                        @if ((filter.value?.length || 0) > 1) {
                            <span class="example-additional-selection">
                            (+{{(filter.value?.length || 0) - 1}} {{filter.value?.length === 2 ? 'otro' : 'otros'}})
                            </span>
                        }
                        </mat-select-trigger>
                        @for (option of filter.options; track option) {
                            <mat-option [value]="option"  (click)="change()">{{option.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            }
            @if(filter.type == "text"){
                <mat-form-field>
                    <mat-label>{{filter.name}}</mat-label>
                    <input matInput [(ngModel)]="filter.value" (change)="change()">
                </mat-form-field>
            }
        }
    </div>
    @if(formAdd != undefined){
        <div class=" hidden xl:flex flex-row justify-center items-center gap-4 ">
            <app-button [color]="'green'" [rounded]="buttonRounded" (click)="ActiveForm()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 5l0 14" />
                    <path d="M5 12l14 0" />
                  </svg>
            </app-button>
            @if(canUseMultipleDelete){
                <app-button [color]="canDelete == false?'gray-button' : 'red'" [rounded]="buttonRounded" (click)="deleteAll()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7h16m-10 4v6m4-6v6M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2l1-12M9 7V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v3"/></svg>
                </app-button>
            }
            @if(histories != undefined){
                <app-button [color]="'blue'" [rounded]="buttonRounded" (click)="Navigate()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 4m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                        <path d="M5 8v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-10" />
                        <path d="M10 12l4 0" />
                      </svg>
                </app-button>
            }
        </div>
    }
</div>