<div class="">
    <table class="flex flex-col ">
        <thead>
            <tr>

                @if(actions == 'deleteAdmin'|| actions == 'bothAdmin'){
                    @if(access == 2){
                        <th [className]="'w-smallest'"></th>
                    }
                }
                @else if(actions == 'delete'|| actions == 'both'){
                    <th [className]="'w-smallest'"></th>
                }
                
                @for (header of table.headerFields; track $index) 
                {
                    <th [className]="'w-'+header.space">
                        {{header.name}}
                    </th>
                }
                @if(actions != 'none' && actions != 'deleteAdmin' && actions != 'bothAdmin'){
                    <th class="w-big">
                        Actions
                    </th>
                }@else if(actions == 'deleteAdmin' || actions == 'bothAdmin'){
                    @if(access == 2){
                        <th class="w-big">
                            Actions
                        </th>
                    }
                }
            </tr>
        </thead>
        <tbody *reloadComponent="currentSheet">

                <tr *ngFor="let value of table.values; let idx = index" [className]="(idx < ((currentSheet + 1 )* maxElements) && idx >= (currentSheet * maxElements)? ' ': 'hidden ')
                    +(value.check != undefined && value.check == true ? 'bg-blue-50' : '') ">
                    
                    @if(actions == 'deleteAdmin'|| actions == 'bothAdmin'){
                        @if(access == 2){
                            <td class="w-smallest"> <input type="checkbox" name="check" id="check" [ngModel]="this.table.values[idx].check" (ngModelChange)="onCheckChange($event, idx)"> </td>
                        }
                    }
                    @else if(actions == 'delete'|| actions == 'both'){
                        <td class="w-smallest"> <input type="checkbox" name="check" id="check" [ngModel]="this.table.values[idx].check" (ngModelChange)="onCheckChange($event, idx)"> </td>
                    }

                    @for (property of table.tableFields; track $index ) {
                        @if(property.show == true){
                            @if(property.type == 'Property'){
                                <td [className]="'w-'+table.headerFields[$index].space + ' ' + resolveStyles(property, idx)">
                                    @if(property.subPropertyName != undefined){
                                        @if(value[property.propertyName] != undefined){
                                            <i>{{value[property.propertyName][property.subPropertyName]}}</i>
                                        }
                                    }
                                    @else {
                                        <i>{{value[property.propertyName]}}</i>
                                    }
                                </td>
                            }
                            @if(property.type == 'Revenue' ){
                                <td [className]="'w-'+table.headerFields[$index].space + ' ' + resolveStyles(property, idx)">
                                    @if(property.subPropertyName != undefined ){
                                        @if (property.subPropertyName != undefined && value[property.propertyName]!=undefined && value[property.propertyName][property.subPropertyName] != undefined && value[property.propertyName][property.subPropertyName] > 0){
                                            <i class="flex flex-row mx-auto gap-2">{{value[property.propertyName][property.subPropertyName]}}
                                                @if(value['actionHistory'] == 'Salida'){
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16px" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v14m6-8l-6-6m-6 6l6-6"/></svg>
                                                }
                                                @else if(value['actionHistory'] == 'Entrada'){
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16px" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v14m6-6l-6 6m-6-6l6 6"/></svg>
                                                }
                                                @else {
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16px" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v14m6-8l-6-6m-6 6l6-6"/></svg>
                                                }
                                            </i>
                                        }
                                    }
                                    @else {
                                        <i class="flex flex-row mx-auto gap-2">
                                            {{value[property.propertyName]}}
                                            @if(value['actionHistory'] == 'Salida'){
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16px" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v14m6-8l-6-6m-6 6l6-6"/></svg>
                                            }
                                            @else if(value['actionHistory'] == 'Entrada'){
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16px" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v14m6-6l-6 6m-6-6l6 6"/></svg>
                                            }
                                            @else {
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16px" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v14m6-8l-6-6m-6 6l6-6"/></svg>
                                            }
                                        </i>
                                    }
                                </td>
                            }
                            @if(property.type == 'Date'){
                                <td [className]="'w-'+table.headerFields[$index].space">
                                    @if(property.subPropertyName != undefined){
                                        @if(value[property.propertyName] != undefined){
                                            {{convertToLocalTime(value[property.propertyName][property.subPropertyName]) | date:'short'}}
                                        }
                                    }
                                    @else {
                                        {{convertToLocalTime(value[property.propertyName]) | date:'short'}}
                                    }
                                </td>
                            }
                            @if(property.type == 'Select') {
                                <td [className]="'w-'+table.headerFields[$index].space">
                                    @if(value[property.propertyName] !=null){
                                        @for (cases of property.cases; track $index) {
                                            @if(property.subPropertyName != undefined){
                                                
                                                @if(cases.key == value[property.propertyName][property.subPropertyName]){
                                                    {{cases.value}}
                                                }
                                            }
                                            @else {
                                                @if(cases.key == value[property.propertyName]){
                                                    {{cases.value}}
                                                }
                                            }
                                        }
                                    }
                                </td>
                            }
                            @if(property.type == 'Link')  {
                                <td [className]="'w-'+table.headerFields[$index].space+' text-center'">
                                    <a [href]="property.link?.url + value[property.link!.idPropertyName]">
                                        {{value[property.propertyName]}}
                                    </a>
                                </td>
                            }
                        }
                    }
                    @if(actions != 'none' && actions != 'deleteAdmin' && actions != 'bothAdmin'){
                        <td class="actions">
                            @if(actions == 'edit' || actions == 'both'){
                                <app-button [color]="'blue'" (click)="editData(idx)">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                        <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                        <path d="M16 5l3 3" />
                                    </svg>
                                </app-button>
                            }
                            @if(actions == 'delete' || actions == 'both'){
                                <app-button [color]="'red'" (click)="deleteData(idx)" >
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M4 7l16 0" />
                                        <path d="M10 11l0 6" />
                                        <path d="M14 11l0 6" />
                                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                    </svg>
                                </app-button>
                            }
                        </td>
                    }

                    @if(actions == 'bothAdmin'){

                        @if(access == 2){

                            <td class="actions">
                                <app-button [color]="'blue'" (click)="editData(idx)">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                        <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                        <path d="M16 5l3 3" />
                                    </svg>
                                </app-button>
                                <app-button [color]="'red'" (click)="deleteData(idx)" >
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M4 7l16 0" />
                                        <path d="M10 11l0 6" />
                                        <path d="M14 11l0 6" />
                                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                    </svg>
                                </app-button>
                            </td>
                        }

                    }
                    @if(actions == 'deleteAdmin'){

                        @if(access == 2){

                            <td class="actions">
                                <app-button [color]="'red'" (click)="deleteData(idx)" >
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M4 7l16 0" />
                                        <path d="M10 11l0 6" />
                                        <path d="M14 11l0 6" />
                                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                    </svg>
                                </app-button>
                            </td>
                        }

                    }
                </tr>
            
        </tbody>
    </table>
    @if (sheets()>0) {
        <div class="flex flex-row items-center justify-center lg:justify-end text-center gap-8 px-8 py-2 bg-gray-50 bg-opacity-24">
            
            <div class="flex flex-row items-center gap-2">
                <button class="button" (click)="passPrevSheet()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m6.523 12.5l3.735 3.735q.146.146.153.344q.006.198-.153.363q-.166.166-.357.168t-.357-.162l-4.382-4.383q-.243-.242-.243-.565t.243-.566l4.382-4.382q.147-.146.347-.153q.201-.007.367.159q.16.165.162.353q.003.189-.162.354L6.523 11.5h12.38q.214 0 .358.143t.143.357t-.143.357t-.357.143z"/></svg>
                </button >
                <div class="text-lg h-full font-medium text-gray-800"><strong>{{currentSheet+1}}</strong>...{{sheets()+1}}</div>
                <button class="button"  (click)="passNextSheet()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17.073 12.5H5.5q-.213 0-.357-.143T5 12t.143-.357t.357-.143h11.573l-3.735-3.734q-.146-.147-.152-.345t.152-.363q.166-.166.357-.168t.357.162l4.383 4.383q.13.13.183.267t.053.298t-.053.298t-.183.268l-4.383 4.382q-.146.146-.347.153t-.367-.159q-.16-.165-.162-.354t.162-.354z"/></svg>
                </button>
            </div>
        </div>
    }
</div>
