table{
    @apply rounded-md  overflow-x-auto bg-white dark:bg-zinc-800  ;
}
table::-webkit-scrollbar{
    height: 8px;
}
table::-webkit-scrollbar-thumb{
    @apply bg-gray-300 rounded-lg;
}
table::-webkit-scrollbar-track{
    @apply bg-gray-200
}
th{
    @apply uppercase font-medium tracking-widest py-2 hover:bg-gray-100 hover:dark:bg-zinc-700 dark:text-gray-50;
}
td{
    @apply font-light  text-center py-2 bg-gray-200 dark:bg-zinc-700 dark:text-gray-100 bg-opacity-25 hover:bg-opacity-50 transition-all;
}
th, td{
    @apply w-80;
}
tr{
    @apply shadow-sm;
}
a{
    @apply rounded-lg bg-blue-500 bg-opacity-25 text-blue-500 shadow-sm  p-1 px-2 hover:text-gray-100 hover:bg-opacity-100 transition-all; 
}
.w-normal{
    @apply min-w-60;
}
.w-small{
    @apply min-w-40;
}
.w-big{
    @apply min-w-80;
}
.w-smallest{
    @apply min-w-16;
}
.actions{
    @apply flex flex-row justify-around;
}
.button{
    @apply px-4 py-4 rounded-lg transition-all
     hover:bg-gray-700 hover:bg-opacity-15
}
.green i{
    @apply bg-green-500 text-gray-50 px-2 py-1 w-fit rounded-lg
}
.red i{
    @apply bg-red-500 text-gray-50 px-2 py-1 w-fit rounded-lg
}
.yellow i{
    @apply bg-yellow-500 text-gray-50 px-2 py-1 w-fit rounded-lg
}
.orange i{
    @apply bg-orange-500 text-gray-50 px-2 py-1 w-fit rounded-lg
}
.gray i{
    @apply bg-gray-500 text-gray-100 px-2 py-1 w-fit rounded-lg
}

#check{
    appearance: none; 
    width: 24px;
    height: 24px;
    border: 2px solid #000;
    @apply flex flex-col justify-center items-center relative mx-auto shadow-md rounded-md transition-all;
}
#check:hover{
    @apply bg-blue-300;
}
#check:checked{
    @apply bg-blue-200;
}
#check:checked::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22128%22%20height%3D%22128%22%20viewBox%3D%220%200%208%208%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22m6.41%201l-.69.72L2.94%204.5l-.81-.78L1.41%203L0%204.41l.72.72l1.5%201.5l.69.72l.72-.72l3.5-3.5l.72-.72z%22/%3E%3C/svg%3E') no-repeat center center;
    background-size: contain;
    position: absolute; /* or any other positioning you prefer */
    @apply text-blue-500 stroke-blue-500; 
    filter: invert(36%) sepia(92%) saturate(2781%) hue-rotate(186deg) brightness(103%) contrast(102%);
}
