<div class="">
    <table class="flex flex-col ">
        <thead>
            <tr>
                @for (header of table.headerFields; track $index) 
                {
                    <th [className]="'w-'+header.space">
                        {{header.name}}
                    </th>
                }
                @if(actions != 'none'){
                    <th class="w-big">
                        Actions
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @for (value of table.values; track $index) {
                <tr>
                    @for (property of table.tableFields; track $index) {
                        @if(property.show == true){
                            @if(property.type == 'Property'){
                                <td [className]="'w-'+table.headerFields[$index].space">
                                    @if(property.subPropertyName != undefined){
                                        @if(value[property.propertyName] != undefined){
                                            {{value[property.propertyName][property.subPropertyName]}}
                                        }
                                    }
                                    @else {
                                        {{value[property.propertyName]}}
                                    }
                                </td>
                            }
                            @if(property.type == 'Date'){
                                <td [className]="'w-'+table.headerFields[$index].space">
                                    @if(property.subPropertyName != undefined){
                                        @if(value[property.propertyName] != undefined){
                                            {{value[property.propertyName][property.subPropertyName] | date:'short'}}
                                        }
                                    }
                                    @else {
                                        {{value[property.propertyName] | date:'short'}}
                                    }
                                </td>
                            }
                            @if(property.type == 'Select') {
                                <td [className]="'w-'+table.headerFields[$index].space">
                                    @if(value[property.propertyName] !=null){
                                        @for (cases of property.cases; track $index) {
                                            @if(property.subPropertyName != undefined){
                                                
                                                @if(cases.key == value[property.propertyName][property.subPropertyName]){
                                                    {{cases.value}}
                                                }
                                            }
                                            @else {
                                                @if(cases.key == value[property.propertyName]){
                                                    {{cases.value}}
                                                }
                                            }
                                        }
                                    }
                                </td>
                            }
                            @if(property.type == 'Link')  {
                                <td [className]="'w-'+table.headerFields[$index].space+' text-center'">
                                    <a [href]="property.link?.url + value[property.link!.idPropertyName]">
                                        {{value[property.propertyName]}}
                                    </a>
                                </td>
                            }
                        }
                    }
                    @if(actions != 'none'){
                        <td class="actions">
                            @if(actions == 'edit' || actions == 'both'){
                                <app-button [color]="'blue'" (click)="editData($index)">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                        <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                        <path d="M16 5l3 3" />
                                    </svg>
                                </app-button>
                            }
                            @if(actions == 'delete' || actions == 'both'){
                                <app-button [color]="'red'" (click)="deleteData($index)" >
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M4 7l16 0" />
                                        <path d="M10 11l0 6" />
                                        <path d="M14 11l0 6" />
                                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                    </svg>
                                </app-button>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
